<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{:: title},~{:: script})}">

<head>
    <title data-th-text="${loggedInUser.name}+' | SCM'">Dashboard Page</title>
</head>

<body>
    <div id="content" class="sm:pl-64" style="height:1000px">

        <div class="content">

            <div th:if="${loggedInUser}">
                <div th:replace="~{user/sidebar :: sidebar}"></div>
            </div>
            <div style="height: 1000px">
                <div class=" flex justify-center flex-col items-center">
                    <h1 class="text-3xl">Welcome to user Dashboard page</h1>
                    <p class="text-2xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel alias quia, iusto
                        exercitationem soluta nulla deserunt odio dolorem repellendus nemo suscipit sed eaque, saepe
                        illum perferendis</p>
                </div>

            </div>
        </div>

    </div>

    <script>
        console.log("this is profile page");
    </script>
</body>

</html>